[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Vendor/yaml-cpp"]
	path = Vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb.git
